<!DOCTYPE html>
<html>
  <head>
    <title>Galaxy Spectrum</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="https://d3js.org/d3.v4.min.js"></script>
  </head>
  <body>
    <div class="main">
      <section>
        <div class="container">
          <svg id="spectrum-chart" width="960" height="500"></svg>
          <div id="temperature-controller" class="value-controller w-50"></div>
          <label class="text-t"></label>
        </div>
      </section>
    </div>
  </body>
</html>
